name: Build and Push Image

on:
  push:
    tags:
      - v*

permissions:
  contents: read
  id-token: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        with:
          persist-credentials: false
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Dockerhub Login
        uses: grafana/shared-workflows/actions/dockerhub-login@cc504fc21d1d334135fbbb84b099afc43d667a12 # dockerhub-login latest
      - name: Enable containerd snapshotting (for multi-platform building)
        uses: docker/setup-docker-action@e43656e248c0bd0647d3f5c195d116aacf6fcaf4 # v4.7.0
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: Build and push
        run: make docker-build docker-push
