name: Build and Push Image

on:
  push:
    tags:
      - v*

permissions:
  contents: read
  id-token: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        with:
          persist-credentials: false
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Dockerhub Login
        uses: grafana/shared-workflows/actions/dockerhub-login@d80ddba3b588ad911410ce91c599bbbe513196b0 # dockerhub-login latest
      - name: Enable containerd snapshotting (for multi-platform building)
        uses: docker/setup-docker-action@efe9e3891a4f7307e689f2100b33a155b900a608 # v4.5.0
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: Build and push
        run: make docker-build docker-push
